/* Flex */
// .fl-align-center {
//   align-items: center;
// }

.flex-align-center {
  align-items: center;
}

// .fl-space-between {
//   justify-content: space-between;
// }
// 
.flex-space-between {
  justify-content: space-between;
}

// .fl-col {
//   flex-direction: column;
// }

.flex-col {
  flex-direction: column;
}

// .fl-align-cnt {
//   align-items: center;
// }

.flex-align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

// .fl-one {
//   flex: 1;
// }

.flex-one {
  flex: 1;
}

.fl-self-end {
  align-self: flex-end;
}

.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}


/* Margins and paddings */

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-third {
  width: 30%;
}

.height-hundred {
  height: 100%;
}

.height-75 {
  height: 75%;

}

.padding-sm {
  padding: 20px;
}

.padding-md {
  padding: 50px;
}

.margin-sm {
  margin: 10px;
}

.margin-md {
  margin: 20px;
}

.margin-left-none {
  margin-left: 0;
}

/* Colors */

.font-white {
  color: white;
}
/* Footer */

.footer {
  
  background: url('../../assets/images/dark-wood.png');
  padding-bottom: 0px;
  margin-top: 20px;
  
  a {
  text-decoration: none;
  }
}

.footer, .sidebar {
  h5 {
    color: #E79263;
    font-size: 1.2em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  p {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 2.5em;
    margin-top: 0;
  }

  i {
      margin: 0px 7px 7px 0;
  }

  .contact-line-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  } 
}

/*Side*/
.sidebar {
  border-left: 2px solid #ccc;
  padding: 1% 3%;

  a {
    text-decoration: none;
    color: $color__link;
  }
  .widget-address {
    line-height: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


/* Buttons */
.btn {
  text-transform: uppercase;
}
.btn:hover {
  outline: -webkit-focus-ring-color auto 5px;
}
/* Home-shop */

.shop-container {
  border: 1px solid #DFDFDF;
  border-top: 3px solid #DFDFDF;
  padding: 10px;
    p {
      margin: 20px 0;
    }
}

.shop-btn {
  @extend .btn;
  color: white;
  background-color: $color-main;
  border: none;
  padding: 8px 15px;
}

/*Journal*/
.journal-container {
  border: 1px solid #DFDFDF;
  margin: 0 5px;
    p {
      font-size: 0.5em;
    }
    h3 {
      text-transform: uppercase;
      color: $color-main;
      margin-bottom: 10px; 
    }
    div {
      padding: 10px;
    }
    .img-container {
      border-bottom: 3px solid #DFDFDF;
    }
}

.entry-btn {
  @extend .btn;
  border: 1px solid black;
  padding: 8px 15px;
  background-color: transparent;
}

/* Home-Adventures */

.latest-posts-container {
  height: 400px;
    h2 {
      font-size: 2em;
      line-height:1.3em; 
    }
    h3 {
      font-size: 1.7em;
      line-height:1.3em;
    }
    h4 {
      font-size: 1.1em;
      line-height:1.3em;
      margin: 1em 0;
    }
}

.read-btn {
  @extend .btn;
  @extend .entry-btn;  
  border: 1px solid white;
  color: white;
  margin-top: 20px;
}

.article-box {
  height: 100%;
  padding: 20px 10px;
  background: center/cover no-repeat;
}

.article-box-1 {
  @extend .article-box;
  margin-right: 7px;
}

.article-box-2 {
  @extend .article-box;
  margin-bottom: 7px;
}

.article-box-3 {
  @extend .article-box;
  margin-right: 7px;
}

.article-box-4 {
  @extend .article-box;
}

.adv-btn {
  @extend .btn;
  @extend .shop-btn;
  margin: 40px 20px 20px 20px;
}

.bg-image {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}