/* Flex */

.flex-align-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-one {
  flex: 1;
}

.fl-self-end {
  align-self: flex-end;
}

.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

/* Margins and paddings */

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-third {
  width: 30%;
}

.height-hundred {
  height: 100%;
}

.height-75 {
  height: 75%;

}

.padding-sm {
  padding: 20px;
}

.padding-md {
  padding: 50px;
}

.margin-sm {
  margin: 10px;
}

.margin-md {
  margin: 20px;
}

.margin-left-none {
  margin-left: 0;
}

/* Colors */

.font-white {
  color: white;
}
/* Footer */

.footer {
  
  background: url('../../assets/images/dark-wood.png');
  padding-bottom: 0px;
  margin-top: 20px;
  
  a {
  text-decoration: none;
  color: white;
  }
}

.footer, .sidebar {
  h5 {
    color: #E79263;
    font-size: 1.2em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  p {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 2.5em;
    margin-top: 0;
  }

  i {
      margin: 0px 7px 7px 0;
  }

  .contact-line-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  } 
}

/*Side*/
.sidebar {
  border-left: 2px solid #ccc;
  padding: 10px 40px;

  a {
    text-decoration: none;
    color: $color__link;
  }
  .widget-address {
    line-height: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* Buttons */
  a.btn {
  text-transform: uppercase;
  text-decoration: none;
  //color: white;
  padding: 10px;
  display: inline-block;
}

a.btn:hover {
  outline: -webkit-focus-ring-color auto 5px;
}