/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/*sinle-products*/

.single-products-container {
  h2 {
    color: $color-main;
  }
  span {
    margin-left: 3px;
  }
}

/*Sinle-Adventures*/
.single-adventures-container {

  h5 {
    text-transform: uppercase;
  }

}

.sinlge-view-margin {
  margin: 50px 150px;
}

a.btn-social {
  //@extend .entry-btn;
  margin: 0 7px;
  color: black;
  border: 1px solid black;
}

a.btn.btn-social {
  padding: 10px 20px;
}

/*Single-post: journal*/

.single-post-container {

  .single-post-img-container {
    padding-top: 20px;
    background: center/cover no-repeat;
    height: 100vh;
  }

  h2 {
    background-color: $color-main;
    color: white;
    width: 70%;
    padding: 10px 30px 10px 10px;
  }

  .post-details-container {
    background-color: $color-main;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
  }

  a {
    text-decoration: none;
  }

  .categories-container, .tags-container {
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .comments {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    
    h3 {
      text-transform: uppercase;
    }
    textarea, input {
      background-color: #F4F4F4;
    }

    .form-submit {
      //@extend .adv-btn;
    }
  }

  .form-input {
    background-color: #F4F4F4;
  }

  .submit-btn {
    @extend .adv-btn;
  }
  form {
    label {
      text-transform: uppercase;
    }
  }
}

/*About page*/
.about-title {
  margin-top: -50vh;
  margin-bottom: 50vh;
}

/*Find us page*/

.find-us-container {
  h1 {
    text-align: left;
  }

  .form-input {
    background-color: #F4F4F4;
  }

  .submit-btn {
    @extend .adv-btn;
  }

  form {
    label {
      text-transform: uppercase;
    }
  }
}

/*404 page*/

.not-found-container {
  h1 {
    text-align: left;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

/*Search results page*/

.search-results-container {
  h1 {
    text-align: left;
  }

  a {
    text-decoration: none;
  }
}

/* Home-shop */

.shop-container {
  border: 1px solid #DFDFDF;
  border-top: 3px solid #DFDFDF;
  padding: 10px;
    p {
      margin: 20px 0;
    }
}

a.shop-btn {
  color: white;
  background-color: $color-main;
  border: none;
  padding: 8px 15px;
}

/*Journal*/
.journal-container {
  border: 1px solid #DFDFDF;
  margin: 0 5px;
    p {
      font-size: 0.5em;
    }
    h3 {
      text-transform: uppercase;
      color: $color-main;
      margin-bottom: 10px; 
    }
    div {
      padding: 10px;
    }
    .img-container {
      border-bottom: 3px solid #DFDFDF;
    }
}

a.entry-btn {
  //@extend .btn;
  border: 1px solid black;
  padding: 8px 15px;
  background-color: transparent;
  color: black;
}

/* Home-Adventures */

.latest-posts-container {
  height: 400px;
    h2 {
      font-size: 2em;
      line-height:1.3em;
    }
    h3 {
      font-size: 1.7em;
      line-height:1.3em;
    }
    h4 {
      font-size: 1.1em;
      line-height:1.3em;
      margin: 1em 0;
    }
}

a.read-btn {
  border: 1px solid white;
  color: white;
  margin-top: 20px;
}

.article-box {
  height: 100%;
  padding: 20px 10px;
  background: center/cover no-repeat;
}

.article-box-1 {
  @extend .article-box;
  margin-right: 7px;
}

.article-box-2 {
  @extend .article-box;
  margin-bottom: 7px;
}

.article-box-3 {
  @extend .article-box;
  margin-right: 7px;
}

.article-box-4 {
  @extend .article-box;
}

a.adv-btn {
  margin: 40px 20px 20px 20px;
  background-color: $color-main;
  color: white;
}



